<!DOCTYPE html>
<html lang="en">
<% include ../header %>
<body class="admin">
	<% include navbar-admin %>

	<!-- Main jumbotron for a primary marketing message or call to action -->

	<div class="container">
        <%- include(page) %>

		<% include ../footer %>
	</div>
	<!-- /container -->
</body>
</html>