<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/1.0/api/jobs/upload"
     method    =  "post"
>
<input type="file" name="files" />
<input type="file" name="files" />
<input type="file" name="files" />
<input type="submit" value="Upload Image" name="submit">
</form>