<p>Hi <%= name %>,</p>
<p/>
<p>An existing account was tried to link to new JungleBee instance.</p>  
<p>Your confirmation code is: <b><%=code %></b>. </p>
<p/>
<p>Please use this code in JungleBee mobile app to confirm your ownership of the email address.</p>
<p>In case of any trouble, feel free to contact us at junglebee@surya-solutions.com.</p>
<p/>
<p/>
<p>Regards</p>
<p/>
<p>JungleBee Team</p>
<p>Surya Solutions Limited.</p>


